#menuToggle
{
  display: block;
  /* You can also use relative/absolute here if you want to stay on the top */
  position: fixed;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: rgb(196, 198, 204);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: relative;
  max-width: 400px;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #c0c8d2;
  opacity: 90%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
.background_softbots {
      background-image: url(images/Handrobot_montage_credit_ETH-Zurich_Thomas-Buchner.webp); /* Replace with your image */
      background-size: cover;
      background-position: center;
      height: 45vh;
      position: relative;
}
.background_medBots {
      background-image: url(images/microbotsa.jpg); /* Replace with your image */
      background-size: cover;
      background-position: center;
      height: 45vh;
      position: relative;
}
.background-DocRob {
      background-image: url(images/Docrob.avif); /* Replace with your image */
      background-size: cover;
      background-position: center;
      height: 45vh;
      position: relative;
}

.background {
      background-image: url(images/header_robotic_automation.webp); /* Replace with your image */
      background-size: cover;
      background-position: center;
      height: 45vh;
      position: relative;
}


.title {
  text-align: center;
  height: 100px;
  padding: 1%;
  

  background-image: linear-gradient(0deg, #ffffff, #90b1c9);
}

.title-DocRob {
  text-align: center;
  height: 100px;
  padding: 1%;
  background-image: linear-gradient(0deg, #e3eef2, #5d7e87);
}
.title-mircoBots {
  text-align: center;
  height: 100px;
  padding: 1%;
  background-image: linear-gradient(0deg, #e3eef2, #ab2a39);
}
.title-softRobs {
  text-align: center;
  height: 100px;
  padding: 1%;
  background-image: linear-gradient(0deg, #e3eef2, #56696e);
}
p {
  font-size: 18px;
  line-height: 28px;
  font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
  scroll-behavior: smooth;
}


.title h1{
  color:#ffffff;
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-shadow: #213b45 2px 2px 4px;
}
.title-DocRob h1 {
  color:#ffffff;
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-shadow: #213b45 2px 2px 4px;
}

.title-mircoBots h1 {
  color:#ffffff;
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-shadow: #213b45 2px 2px 4px;
}
.title-softRobs h1 {
  color:#ffffff;
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-shadow: #213b45 2px 2px 4px;
}

h2{
  color: #1f1d1d;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
}

.grid h2{
    color: #040218;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
}
.grid-medbots h2{
    color: #040218;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 50px;
}
#deep h2{
  color: #11162c;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
}
#subtitle {
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
  margin: 20px;
  color: black;
}

h3{
  color: #11162c;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;

/*.abouttexts {
  display: flex;
  justify-content: space-around;
  margin: 2em 0;
  padding: 0 1em;
}

.abouttext {
  flex: 1;
  margin: 0 1em;
  text-align: center;
}


.aboutimages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.aboutimages img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  text-align: center;
}*/








}
main {
    padding: 2%;
    background-color: #e3eef2;
    font-family: 'Lato', sans-serif;
}

main h2 {
    color: #213B45;
}

main p {
    color: #0F252E;
    font-size: 1.25em;
}

main a {
    text-decoration: none;
    color: #417589;
    font-weight: bold;
}

main ul {
    list-style-type: square;
    font-size: 1.15em;
}

main ul li:last-child {
    padding-bottom: 2%;
}

article, figure {
    padding: 2%;

}

.grid {
  display: grid;
  grid-gap: 20px;
}


article, figure {
    padding: 2%;
}

figure {
    border: 2px solid #4a1a3a;
    margin: 2% auto;
    background-color: rgba(120, 53, 79, 0.4);
    text-align: center;
}

figcaption {
  font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  

    padding: 2%;
}

 section {
        grid-column: 1 / span 2;
    }
img {
    max-width: 100%;
    display: block;
}

.grid-medbots {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}


#deep a {
    color: #213b45;
}

























/* Desktop view */
@media screen and (min-width: 780px), print {
.background_softbots {

      height: 100vh;

}
  .background_medBots {

      height: 100vh;

}
.background-DocRob {
      height: 100vh;

}

.background {

  height: 100vh;

}

.title-DocRob h1{
  font-size: 50px;
}

.title h1{
  font-size: 50px;
}


h2{

  font-size: 30px;
}

.grid {

    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr;
}

#both-columns {
    grid-column: span 2;
    background: #e3eef2;
    color: white;
    text-align: center;
}

}
